@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Merriweather", sans-serif;
    font-size: 14px;
}

/* Header Styles */

header{
    background-color: #1B6E50;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content:space-around;
}

button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #1B6E50;
    font-family: "Merriweather", sans-serif;
}

nav{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:40%;
    padding-bottom: 1%;
}

.hamburger_icon{
    display: none;
}

.nav_left h2{
    padding-left: 5%;
    font-size: 20px;
    color: white;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.logo{
    padding-left: 5%;
    height:5rem;
}

.nav_right{
    width: 50%;
    display: flex;
}

.nav_right_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav_top{
}

.nav_buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.nav_btn{
    margin-left: 2%;
    margin-right: 2%;
    list-style: none;
}

.nav_btn button{
    background-color: #1B6E50;
    font-family: "Merriweather", sans-serif;
    font-size: 13px;
    color: white;
}

.nav_btn button:hover{
    background-color: #82A98D;
    font-weight:bold;
    color: white;
}

.nav_buttons a{
    padding: 0.75%;
}

.social{
    height: 2rem;
}

.nav_bottom{
    padding-top: 7%;
    padding-bottom: 2%;
    margin-right: 2%;
}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 2%;

}

.nav_links a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.nav_links a:hover{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    background-color: #82A98D;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
}

@media screen and (max-width: 950px) {
    .nav_left a{
        margin-left: 5%;
    }
    
    .nav_left h2{
        display: none;
    }
    .nav_right{
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }
    .hamburger_icon{
        display: inline-block;
    }
    .hamburger_icon img{
        height: 3rem;
    }
    .nav_right_container{
        display: none;
    }
    .nav_bottom{
        display: none;
    }

    .conf_extras_container{
        display:flex;
        flex-direction:row;
        align-items: center;
        width: 70%;
        margin-bottom: 5rem;
    }

    .footer_left h3{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    
}

/* Body Styles */

.body{
    width:100%;
    display:flex;
    flex-direction:column;
}

.Find_a_Garden{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Find_a_Garden_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Lato", sans-serif;
}

.Find_a_Garden_text h2{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    color: #1B6E50;
}

.Find_a_Garden_text h5{
    font-family: "Merriweather", sans-serif;
}

.zip_code{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    width:100%;
}

.zip_code h5{
    margin-right:1%;
    width: 12.5rem;
    font-size: 14px;
    color: #1B6E50;
    font-weight: 500;
}

.zip_code input{
    margin:2%;
    background-color:#EFF6E7;
    border: 1px #EFF6E7 solid;
    border-radius: 5px;
    height: 1.5rem;
}

.zipcode_button{
    color:white;
    font-size: 12px;
    height: 1.5rem;
    display: flex;
    align-items: center;
    background-color: #1B6E50;
}

#googleMap{
    border-radius: 5px;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}

.Join_a_Garden{
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
}

.Join_a_Garden_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}

.Join_a_Garden h2{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    color: #1B6E50;
}

.Join_a_Garden_left{
    width:50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFF6E7;
    border-radius: 5px 0 0 5px;
}

.Join_a_Garden_text{
    text-align:center;
    width:100%;
    padding: 2.5%;
    height: 20%;

}

.Join_a_Garden_text h5{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
}

.form{
    padding-top:5%;
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    height: 80%;
    width: 100%;

    margin-bottom: 5%;
}

.form_left{
    width:50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.form_right{
    width:50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.form_left_title{
    text-align: center;
}

.form_right_title{
    text-align: center;
}

.form_left_title h5{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5%;
}

.form_right_title h5{
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5%;
}

.form_left_input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;

}

.form_right_input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input_text{
    padding-left:10%;
    padding-right:10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    display: flex;
    width: 100%;
}

.form_right_input4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.state{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.zipcode{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input_text input{
    height: 20px;
    margin-left:5%;
    width: 60%;
    border: 1px solid white;
    border-radius: 5px;
}

#short_input input{
    width: 50%;
}

.input_text h5{
    font-weight: 500;
    font-size: 14px;
}

.Join_a_Garden_right{
    width: 50%;
    height: 350px;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
}

.Join_a_Garden_img_container{
    width: 100%;
}

.Join_a_Garden img{
    max-width: 100%;
    height: auto;
    object-fit:fill;
}

.Add_a_Garden{
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.Add_a_Garden h2{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    color: #1B6E50;
}

.Add_a_Garden_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}

.Add_a_Garden_left{
    width: 50%;
    height: 350px;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}

.Add_a_Garden_img_container{
    width:100%;
}

.Add_a_Garden img{
    max-width: 100%;
    height: auto;
    object-fit:fill;
}   

.Add_a_Garden_right{
    width:50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFF6E7;
    border-radius: 0 5px 5px 0;
}

.Add_a_Garden_text{
    text-align:center;
    width:100%;
    padding: 2.5%;
    height: 20%;

}

.Add_a_Garden_text h5{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
}

.back_to_top{
    display: flex;
    justify-content: center;
    width: 100%;
}

.back_to_top_container{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.back_to_top_container img{
    height: 2.5rem;
}

.back_to_top_container a{
    margin-right: 2%;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: #1B6E50;
}

/* Footer Styles */

footer{
    background-color: #1B6E50;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}

.footer_left h3{
    color: white;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.cert{
    height: 5rem;
}

.footer_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.footer_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 10%;
    padding: 2%;
}

.footer_buttons a{
    padding: 2%;
    display: flex;
    justify-content: center;
}

.footer_buttons li{
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    list-style: none;
}

.footer_btn{
    text-decoration: none;
}

.footer_btn button{
    background-color: #1B6E50;
    font-weight: 400;
    color: white;
}

.footer_btn button:hover{
    background-color: #82A98D;
    font-weight:bold;
    color: white;
}

