@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Merriweather", sans-serif;
    font-size: 14px;
}
header{
    background-color: #1B6E50;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content:space-around;
}

button{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #1B6E50;
    font-family: "Merriweather", sans-serif;
}

nav{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:40%;
    padding-bottom: 1%;
}

.hamburger_icon{
    display: none;
}

.nav_left h2{
    padding-left: 5%;
    font-size: 20px;
    color: white;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.logo{
    padding-left: 5%;
    height:5rem;
}

.nav_right{
    width: 50%;
    display: flex;
}

.nav_right_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav_top{
}

.nav_buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.nav_btn{
    margin-left: 2%;
    margin-right: 2%;
    list-style: none;
}

.nav_btn button{
    background-color: #1B6E50;
    font-family: "Merriweather", sans-serif;
    font-size: 13px;
    color: white;
}

.nav_btn button:hover{
    background-color: #82A98D;
    font-weight:bold;
    color: white;
}

.nav_buttons a{
    padding: 0.75%;
}

.social{
    height: 2rem;
}

.nav_bottom{
    padding-top: 7%;
    padding-bottom: 2%;
    margin-right: 2%;
}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 2%;

}

.nav_links a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.nav_links a:hover{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    background-color: #82A98D;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
}

@media screen and (max-width: 950px) {
    .nav_left a{
        margin-left: 5%;
    }
    
    .nav_left h2{
        display: none;
    }
    .nav_right{
        display: flex;
        justify-content: flex-end;
        margin-right: 5%;
    }
    .hamburger_icon{
        display: inline-block;
    }
    .hamburger_icon img{
        height: 3rem;
    }
    .nav_right_container{
        display: none;
    }
    .nav_bottom{
        display: none;
    }

    .conf_extras_container{
        display:flex;
        flex-direction:row;
        align-items: center;
        width: 70%;
        margin-bottom: 5rem;
    }
}
@media screen and (max-width: 400px) {
    
}

.body{
    width:100%;
    display:flex;
    flex-direction: column;
}

.hero{
    display: flex;
    justify-content: center;
    background-image: url("./images/carrot.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.hero_container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width: 70%;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.img_container{
    width: 50%;
}

.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}

.hero_right{
    margin-top: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    height: 100%;
}

.hero_right h2{
    font-size: 55px;
    font-weight: 400;
    color: #2F5114;
    margin-top: 15%;
    font-family: "Lato", sans-serif;
}

.hero_right h4{
    font-size: 18px;
    font-weight: 300;
    margin-top: 2.5%;
    padding-bottom: 5%;
    font-style: italic;
    border-bottom: 1px solid black;
}

.hero_right p{
    font-size: 186x;
    font-weight: 300;
    margin-top: 5%;
    padding-bottom: 7.5%;

}

.hero_buttons{
    display: flex;
    justify-content: center;
}

.hero_buttons button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #1B6E50;
    color: white;
    font-weight: bold;
}

.volunteer_btn{
    padding-right: 5%;
}


.history{
    display: flex;
    justify-content: center;
    background-image: url("./images/lettuce.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.history_container{
    margin-top: 2.5rem;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 500px;
    /* background-image: url("./images/img4.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; */
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}

.conference{
    display: flex;
    justify-content: center;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
}

.conference_container{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}

.conference_header{
    text-align: center;
}

.conference_header h2{
    font-size: 32px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.conference_header h3{
    font-size: 28px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

.conference_img{
    padding-top:2%;
    padding-bottom:2%;
    height: 40rem;
}

.conference_info{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conference_text{
    text-align: center;
    width: 90%;
}

.conference_text p{
    padding: 1%;
}

.conference_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 100%;
}

.conference_buttons a{
    margin-left: 2%;
    margin-right: 2%;
}

.conference_buttons button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 12.5rem;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #2F5114;
    color: white;
    font-weight: bold;
}

.register button{
    background-color: #1B6E50;
}

.register{
    padding-top: 2%;
    padding-bottom: 2%;
}

.conf_extras{
    display: flex;
    justify-content: center;
    background-image: url("./images/artichoke.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.conf_extras_container{
    display:flex;
    flex-direction:row;
    align-items: center;
    width: 70%;
    margin-bottom: 5rem;
}

.extras_left{
    height: 40rem;
    width:50%;
    background-image: url("./images/alabama.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}

.extras_right{
    height: 40rem;
    width: 50%;
    background-image: url("./images/speaker.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}

.extras_ltext{
    text-align: center;
    width: 100%;
    background-color: #82A98D99;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
}

.extras_ltext h3{
    color: white;
    font-size: 28px;
    font-weight: 400;
}

.extras_ltext h4{
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.rtext_container{
    text-align: center;
    width: 100%;
    height: 20%;
    background-color: #82A98D99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
}

.extras_rtext h3{
    color: white;
    font-size: 28px;
    font-weight: 400;
}

.extras_rtext h4{
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.rcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.application_button{
    margin: 7.5%;
}

.application_button button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #1B6E50;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}

.volunteer{
    display: flex;
    justify-content: center;
    background-image: url("./images/eggplant.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

}

.volunteer_container{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: left;
    width: 70%;
    background-image: url("./images/AdobeStock_317593334-1.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 30rem;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}

.volunteer_text{
    background-color: rgba(47, 81, 20, 0.8);
    width: 40%;
    margin: 3%;
    padding: 3%;
    border-radius: 25px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    
}

.volunteer_text h3{
    font-size: 24px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.volunteer_text h4{
    font-size: 20px;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    margin-top: 3%;
    margin-bottom: 7%;
}

.volunteer_btn2 button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}

.back_to_top{
    display: flex;
    justify-content: center;
    width: 100%;
}

.back_to_top_container{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5rem;
}

.back_to_top_container img{
    height: 2.5rem;
}

.back_to_top_container a{
    margin-right: 2%;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    color: #1B6E50;
}

footer{
    background-color: #1B6E50;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
}

.footer_left h3{
    color: white;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

.cert{
    height: 5rem;
}

.footer_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.footer_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 10%;
    padding: 2%;
}

.footer_buttons a{
    padding: 2%;
    display: flex;
    justify-content: center;
}

.footer_buttons li{
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    list-style: none;
}

.footer_btn{
    text-decoration: none;
}

.footer_btn button{
    background-color: #1B6E50;
    font-weight: 400;
    color: white;
}

.footer_btn button:hover{
    background-color: #82A98D;
    font-weight:bold;
    color: white;
}

.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    height: 500px;
    transition: 2s;
    background-color: #1B6E50;
  }
  
  .slide img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    height: 80%;
  }

  .history_text{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5px;
}

.history_text p{
    font-weight: 400;
    color: white;
    font-size: 100%;
    text-align: center;
}

  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #1B6E50;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 70%;
    justify-content: center;
    margin-top: 520px;
  }
  
  .navigation-auto div{
    background-color: #DADADA;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #1B6E50;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #1B6E50;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #1B6E50;
  }
  

        